body {
    padding: 0;
    margin: 0;
}


/* ----------------- Result2 screen ----------------- */
.result2-wrapper {
    width: 1024px;
    height: 767px;
    background-color: #EDEDEE;
    margin-left: auto;
    margin-right: auto;
}

.result2-header-wrapper {
    width: 100%;
    height: 50.56px;
    display: flex;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 0, 0, 1) 0%,rgba(0, 5, 6, 1) 5.54%,rgba(0, 18, 24, 1) 13.21%,rgba(0, 39, 53, 1) 22.1%,rgba(0, 69, 94, 1) 31.93%,rgba(0, 107, 147, 1) 42.52%,rgba(0, 153, 210, 1) 53.58%,rgba(0, 174, 239, 1) 58.32%,rgba(0, 0, 0, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.0554,rgba(0, 5, 6, 1) ),color-stop(0.1321,rgba(0, 18, 24, 1) ),color-stop(0.221,rgba(0, 39, 53, 1) ),color-stop(0.3193,rgba(0, 69, 94, 1) ),color-stop(0.4252,rgba(0, 107, 147, 1) ),color-stop(0.5358,rgba(0, 153, 210, 1) ),color-stop(0.5832,rgba(0, 174, 239, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
    background : -o-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000' , GradientType=1);
}

.result2-header-title {
    font-size: 13px;
    color: white;
    font-family: 'Noto Sans Japanese', sans-serif;
    line-height: 14px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 32.3px;
    letter-spacing: 2.8pt;
}

.result2-header-title2 {
    width: 187.5px;
    height: 14.9px;
    margin-left: 237.58px;
    margin-top: 17.82px;
}

.result2-header-close-button {
    width: 15px;
    height: 15px;
    margin-left: 370.798px;
    margin-top: auto;
    margin-bottom: auto;
}

.content-input-wrapper {
    width: 934.532px;
    height: 606.76px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21.523px;
}

.content-input-header-wrapper {
    position: relative;
    width: 149.93px;
    height: 32.23px;
    display: inline-block;
}

.content-input-header-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-input-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 0.9pt;
    font-family: 'Noto Sans Japanese', sans-serif;
    color: #ffffff;
    width: 93.7px;
    text-align: center;
}

.add-content-button-wrapper {
    position: relative;
    width: 109.12px;
    height: 21.6px;
    display: inline-block;
    margin-left: 543.845px;
    position: relative;
}

.add-content-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.add-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #ffffff;
    font-family: 'Noto Sans Japanese',sans-serif;
    letter-spacing: 1pt;
    width:75px;
}

.delete-content-button-wrapper {
    position: relative;
    width: 109.12px;
    height: 21.6px;
    display: inline-block;
    position: relative;
}

.delete-content-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.delete-content {
    position: absolute;
    font-size: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Noto Sans Japanese',sans-serif;
    letter-spacing: 1pt;
    width: 75px;
}


.content-idea-wrapper {
    width: 100%;
    height: 114.8px;
    display: flex;
}


.content-idea1-wrapper {
    width: 462.282px;
    height: 100%;
}

/* When selected */
.content-idea1-wrapper-selected {
    width: 462.282px;
    height: 100%;
}

.content-idea1-title-wrapper {
    width: 100%;
    height: 37.52px;
    background:#447FC1;
    display: flex;
}

.content-idea1-title-left {
    font-size : 14px;
    line-height : 10px;
    letter-spacing : 2.8px;
    color : #FFFFFF;
    margin-left: 18.76px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.content-idea1-title-right-background {
    position: relative;
    background: #ffffff;
    width: 179.135px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.content-idea1-title-right {
    position: absolute;
    width: 153px;
    font-size : 14px;
    line-height : 10px;
    letter-spacing : 2.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




.content-idea1-main-wrapper {
    width: 100%;
    height: 77.26px;
    background: #ffffff;
    font-size : 10px;
    letter-spacing : 2px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.content-idea1-main {
    width: 341.1px;
    height: 44.76px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.content-idea2-wrapper {
    width: 462.282px;
    height: 100%;
    margin-left: 10px;
}

/* When selected */
.content-idea2-wrapper-selected {
    width: 462.282px;
    height: 100%;
}

.content-idea2-title-wrapper {
    width: 100%;
    height: 37.52px;
    background:#EF5BA1;
    display: flex;
}

.content-idea2-title-left {
    font-size : 14px;
    line-height : 10px;
    letter-spacing : 2.8px;
    color : #FFFFFF;
    margin-left: 18.76px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.content-idea2-title-right-background {
    position: relative;
    background: #ffffff;
    width: 179.135px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.content-idea2-title-right {
    position: absolute;
    width: 153px;
    font-size : 14px;
    line-height : 10px;
    letter-spacing : 2.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-idea2-main-wrapper {
    width: 100%;
    height: 77.26px;
    background: #ffffff;
    font-size : 10px;
    letter-spacing : 2px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.content-idea2-main {
    width: 341.1px;
    height: 44.76px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.forecast-result-wrapper {
    width: 934.532px;
    height: 440.342px;
    margin-top: 15.67px;
}



.forecast-result-title-wrapper {
    width: 497.164px;
    height: 38.38px;
    display:flex;
}

.forecast-result-title {
    position: relative;
    width: 191.881px;
    height: 32.237px;
    margin-top: 6.1px;
}

.forecast-result-title-background {
    position: absolute;
    width: 191.881px;
    height: 32.237px;
}

.forecast-result-title-main {
    position: absolute;
    font-family: 'Noto Sans Japanese',sans-serif;
    color: #ffffff;
    width: 135px;
    font-size : 12px;
    line-height : 13px;
    letter-spacing : 2.6pt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.to-forecast-wrapper {
    width: 59.8px;
    height: 29px;
    margin-left: 245.49px;
}

.forecast1-wrapper {
    width: 100%;
    display: flex;
    height: 129.5px;
    margin-top: 4.4px;
    margin-bottom: 4.4px;
    background-color: #ffffff;
}

.forecast1-title-wrapper {
    width: 81.33px;
    position: relative;
    height:100%;
    background-color: #00B7D6;
    color: #ffffff;
    font-size : 13px;
    line-height : 19px;
    letter-spacing : 2.6pt;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-title {
    width: 50px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.forecast1-idea1-wrapper {
    width: 400.84px;
    height: 109.333px;
    margin-left: 12.8px;
    margin-top: auto;
    margin-bottom: auto;
}

.forecast1-idea1-title {
    width: 100%;
    height: 19px;
    background : #447FC1;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #FFFFFF;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
    line-height: 19px;
}

.forecast1-idea1-result-main-wrapper {
    width: 100%;
    height: 83px;
    margin-top: 7.33px;
    display: flex;
}


.forecast1-idea1-result-main-rank-wrapper {
    width: 70.85px;
    height: 83px;
    background: #447FC1;
    position: relative;
}


.forecast1-idea1-result-rank-title {
    position: absolute;
    font-size : 8px;
    line-height : 11px;
    letter-spacing : 1.44px;
    color : #FFFFFF;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 45px;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea1-result-rank {
    position: absolute;
    top: 41.8px;
    line-height: 41px;
    width: 41px;
    left: 55%;
    transform: translateX(-50%);
    font-family : Tw Cen MT;
    font-size : 41px;
    text-align: center;
    letter-spacing : 6.56px;
    color : #FFFFFF;

}


.forecast1-idea1-result-factor1-wrapper {
    width: 81.141px;
    height: 63.72px;
    margin-left: 11.286px;
    margin-top: 6px;
}

.forecast1-idea1-result-factor1-title-wrapper {
    width: 100%;
    height: 16px;
    background: #D8D9DA;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #231F20;
    line-height: 16px;
    font-family: 'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-idea1-result-factor1-main1 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    color : #231F20;
    text-align: center;
    margin-top: 10.1px;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea1-result-factor1-main2 {
    font-size : 7px;
    display: inline;
    line-height: 9px;
    letter-spacing : 1.2px;
    color : #231F20;
    margin-left: 7px;
    margin-top: 60px;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea1-result-factor1-main3 {
    font-size : 19px;
    display: inline;
    line-height: 9px;
    letter-spacing : 1.2px;
    color : #231F20;
    margin-left: 7px;
    margin-top: 60px;
    font-family: 'Noto Sans Japanese',sans-ser
}

.forecast1-idea1-result-factor2-wrapper {
    width: 105.9px;
    height: 63.72px;
    margin-left: 11.286px;
    margin-top: 6px;
}

.forecast1-idea1-result-factor2-title-wrapper {
    width: 100%;
    height: 16px;
    background: #D8D9DA;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #231F20;
    line-height: 16px;
    font-family: 'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-idea1-result-factor2-main-wrapper {
    width: 94px;
    margin-left: auto;
    margin-right: auto;
}

.forecast1-idea1-result-factor2-main1 {
    font-size : 7px;
    line-height: 9px;
    color : #231F20;
    margin-top: 10.1px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing : 0.6px;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast1-idea1-result-factor2-main2 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea1-result-factor2-main3 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea1-result-factor2-main4 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast1-idea1-result-factor3-wrapper {
    width: 108px;
    height: 63.72px;
    margin-left: 11.286px;
    margin-top: 6px;
}

.forecast1-idea1-result-factor3-title-wrapper {
    width: 100%;
    height: 16px;
    background: #D8D9DA;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #231F20;
    line-height: 16px;
    font-family: 'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-idea1-result-factor3-main-wrapper {
    width: 94px;
    margin-left: auto;
    margin-right: auto;
}

.forecast1-idea1-result-factor3-main1 {
    font-size : 7px;
    line-height: 9px;
    color : #231F20;
    margin-top: 10.1px;
    letter-spacing : 0.6px;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast1-idea1-result-factor3-main2 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea1-result-factor3-main3 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea1-result-factor3-main4 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.divider {
    width: 1px;
    height: 114px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 15.32px;
    margin-right: 15.32px;
    background-color: #D1D3D4;
}


.forecast1-idea2-wrapper {
    width: 400.84px;
    height: 109.333px;
    margin-top: auto;
    margin-bottom: auto;
}

.forecast1-idea2-title {
    width: 100%;
    height: 19px;
    background : #EF5BA1;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #FFFFFF;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
    line-height: 19px;
}

.forecast1-idea2-result-main-wrapper {
    width: 100%;
    height: 83px;
    margin-top: 7.33px;
    display: flex;
}


.forecast1-idea2-result-main-rank-wrapper {
    width: 70.85px;
    height: 83px;
    background: #EF5BA1;
    position: relative;
}


.forecast1-idea2-result-rank-title {
    position: absolute;
    font-size : 8px;
    line-height : 11px;
    letter-spacing : 1.44px;
    color : #FFFFFF;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 45px;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea2-result-rank {
    position: absolute;
    top: 41.8px;
    line-height: 41px;
    width: 41px;
    left: 55%;
    transform: translateX(-50%);
    font-family : Tw Cen MT;
    font-size : 41px;
    text-align: center;
    letter-spacing : 6.56px;
    color : #FFFFFF;

}


.forecast1-idea2-result-factor1-wrapper {
    width: 81.141px;
    height: 63.72px;
    margin-left: 11.286px;
    margin-top: 6px;
}

.forecast1-idea2-result-factor1-title-wrapper {
    width: 100%;
    height: 16px;
    background: #D8D9DA;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #231F20;
    line-height: 16px;
    font-family: 'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-idea2-result-factor1-main1 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    color : #231F20;
    text-align: center;
    margin-top: 10.1px;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea2-result-factor1-main2 {
    font-size : 7px;
    display: inline;
    line-height: 9px;
    letter-spacing : 1.2px;
    color : #231F20;
    margin-left: 7px;
    margin-top: 60px;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea2-result-factor1-main3 {
    font-size : 19px;
    display: inline;
    line-height: 9px;
    letter-spacing : 1.2px;
    color : #231F20;
    margin-left: 7px;
    margin-top: 60px;
    font-family: 'Noto Sans Japanese',sans-ser
}

.forecast1-idea2-result-factor2-wrapper {
    width: 105.9px;
    height: 63.72px;
    margin-left: 11.286px;
    margin-top: 6px;
}

.forecast1-idea2-result-factor2-title-wrapper {
    width: 100%;
    height: 16px;
    background: #D8D9DA;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #231F20;
    line-height: 16px;
    font-family: 'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-idea2-result-factor2-main-wrapper {
    width: 94px;
    margin-left: auto;
    margin-right: auto;
}

.forecast1-idea2-result-factor2-main1 {
    font-size : 7px;
    line-height: 9px;
    color : #231F20;
    margin-top: 10.1px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing : 0.6px;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast1-idea2-result-factor2-main2 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea2-result-factor2-main3 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea2-result-factor2-main4 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast1-idea2-result-factor3-wrapper {
    width: 108px;
    height: 63.72px;
    margin-left: 11.286px;
    margin-top: 6px;
}

.forecast1-idea2-result-factor3-title-wrapper {
    width: 100%;
    height: 16px;
    background: #D8D9DA;
    font-size : 9px;
    letter-spacing : 1.8px;
    color : #231F20;
    line-height: 16px;
    font-family: 'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-idea2-result-factor3-main-wrapper {
    width: 94px;
    margin-left: auto;
    margin-right: auto;
}

.forecast1-idea2-result-factor3-main1 {
    font-size : 7px;
    line-height: 9px;
    color : #231F20;
    margin-top: 10.1px;
    letter-spacing : 0.6px;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast1-idea2-result-factor3-main2 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea2-result-factor3-main3 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-idea2-result-factor3-main4 {
    font-size : 7px;
    line-height: 9px;
    letter-spacing : 1.2px;
    margin-top: 3px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}




.forecast2-wrapper {
    width: 100%;
    height: 129.5px;
    margin-bottom: 4.4px;
    display: flex;
    background-color: #ffffff;
}

.forecast2-title-wrapper {
    width: 81.33px;
    height:100%;
    position: relative;
    background-color: #00B7D6;
    color: #ffffff;
    font-size : 13px;
    line-height : 19px;
    letter-spacing : 2.6pt;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast2-title {
    width: 35px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.forecast2-result-graph-wrapper {
    width: 490.645px;
    height: 101.147px;
    margin-left:18px;
}

.forecast2-result-idea1-factor-wrapper {
    width: 141.322px;
    height: 20.955px;
    margin-left: 18px;
    margin-top: 13px;
}

.forecast2-result-idea1-factor-title {
    background : #447FC1;
    width: 100%;
    height: 21px;
    font-size : 9px;
    letter-spacing : 1.8px;
    line-height: 21px;
    text-align: center;
    color : #FFFFFF;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast2-result-idea1-factor-main-wrapper {
    width:100%;
    height: 62.816px;
    display: flex;
    margin-top: 14.4px;
}

.forecast2-result-idea1-factor-main-1 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast2-result-idea1-factor-main-1-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast2-result-idea1-factor-main-2 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
    margin-left:16.7px;
}

.forecast2-result-idea1-factor-main-2-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast2-result-idea2-factor-wrapper {
    width: 141.322px;
    height: 20.955px;
    margin-left: 18px;
    margin-top: 13px;
}

.forecast2-result-idea2-factor-title {
    background :#EF5BA1;
    width: 100%;
    height: 21px;
    font-size : 9px;
    letter-spacing : 1.8px;
    line-height: 21px;
    text-align: center;
    color : #FFFFFF;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast2-result-idea2-factor-main-wrapper {
    width:100%;
    height: 62.816px;
    display: flex;
    margin-top: 14.4px;
}

.forecast2-result-idea2-factor-main-1 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast2-result-idea2-factor-main-1-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast2-result-idea2-factor-main-2 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
    margin-left:16.7px;
}

.forecast2-result-idea2-factor-main-2-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}





.forecast3-wrapper {
    width: 100%;
    height: 129.5px;
    background-color: #ffffff;
    display: flex;
}

.forecast3-title-wrapper {
    width: 81.33px;
    height:100%;
    background-color: #00B7D6;
    position: relative;
    color: #ffffff;
    font-size : 13px;
    line-height : 19px;
    letter-spacing : 2.6pt;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast3-title {
    width: 50px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}


.forecast3-result-graph-wrapper {
    width: 490.645px;
    height: 101.147px;
    margin-left:18px;
}

.forecast3-result-idea1-factor-wrapper {
    width: 141.322px;
    height: 20.955px;
    margin-left: 18px;
    margin-top: 13px;
}

.forecast3-result-idea1-factor-title {
    background : #447FC1;
    width: 100%;
    height: 21px;
    font-size : 9px;
    letter-spacing : 1.8px;
    line-height: 21px;
    text-align: center;
    color : #FFFFFF;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast3-result-idea1-factor-main-wrapper {
    width:100%;
    height: 62.816px;
    display: flex;
    margin-top: 14.4px;
}

.forecast3-result-idea1-factor-main-1 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast3-result-idea1-factor-main-1-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast3-result-idea1-factor-main-2 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
    margin-left:16.7px;
}

.forecast3-result-idea1-factor-main-2-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast3-result-idea2-factor-wrapper {
    width: 141.322px;
    height: 20.955px;
    margin-left: 18px;
    margin-top: 13px;
}

.forecast3-result-idea2-factor-title {
    background :#EF5BA1;
    width: 100%;
    height: 21px;
    font-size : 9px;
    letter-spacing : 1.8px;
    line-height: 21px;
    text-align: center;
    color : #FFFFFF;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast3-result-idea2-factor-main-wrapper {
    width:100%;
    height: 62.816px;
    display: flex;
    margin-top: 14.4px;
}

.forecast3-result-idea2-factor-main-1 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast3-result-idea2-factor-main-1-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}


.forecast3-result-idea2-factor-main-2 {
    font-size : 9px;
    line-height : 18px;
    letter-spacing : 0.9px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
    margin-left:16.7px;
}

.forecast3-result-idea2-factor-main-2-title {
    font-size : 8px;
    letter-spacing : 0.8px;
    color : #231F20;
    font-family: 'Noto Sans Japanese',sans-serif;
}




.result-operation-wrapper {
    width: 100%;
    height: 72.7px;
    margin-top: 15.55px;
    background : #DCDDDE;
    display: flex;
}

.result-operation-forecast-wrapper {
    position: relative;
    width: 197.5px;
    height: 33.9px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 45.3px;
}

.result-operation-forecast-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.result-operation-forecast {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size : 11px;
    letter-spacing : 1.76px;
    color : #231F20;
    font-family:'Noto Sans Japanese',sans-serif;
    transform: translate(-50%, -50%);
}


.result-operation-output-wrapper {
    position: relative;
    width: 197.5px;
    height: 33.9px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 21.6px;
}

.result-operation-output-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.result-operation-output {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size : 11px;
    letter-spacing : 1.76px;
    color : #231F20;
    font-family:'Noto Sans Japanese',sans-serif;
    transform: translate(-50%, -50%);
}

.result-operation-save-wrapper {
    position: relative;
    width: 197.5px;
    height: 33.9px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 21.6px;
}

.result-operation-save-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.result-operation-save {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size : 11px;
    letter-spacing : 1.76px;
    color : #231F20;
    font-family:'Noto Sans Japanese',sans-serif;
    transform: translate(-50%, -50%);
}

.result-operation-back-wrapper {
    position: relative;
    width: 122.73px;
    height: 33.9px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 176.14px;
}

.result-operation-back-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.result-operation-back {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size : 11px;
    letter-spacing : 1.76px;
    color : #231F20;
    font-family:'Noto Sans Japanese',sans-serif;
    transform: translate(-50%, -50%);
}




