body {
    padding: 0;
    margin: 0;
}


/* ----------------- Result screen ----------------- */
.result-wrapper {
    width: 1024px;
    height: 767px;
    background-color: #EDEDEE;
    margin-left: auto;
    margin-right: auto;
}

.result-header-wrapper {
    width: 100%;
    height: 50.56px;
    display: flex;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 0, 0, 1) 0%,rgba(0, 5, 6, 1) 5.54%,rgba(0, 18, 24, 1) 13.21%,rgba(0, 39, 53, 1) 22.1%,rgba(0, 69, 94, 1) 31.93%,rgba(0, 107, 147, 1) 42.52%,rgba(0, 153, 210, 1) 53.58%,rgba(0, 174, 239, 1) 58.32%,rgba(0, 0, 0, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(0.0554,rgba(0, 5, 6, 1) ),color-stop(0.1321,rgba(0, 18, 24, 1) ),color-stop(0.221,rgba(0, 39, 53, 1) ),color-stop(0.3193,rgba(0, 69, 94, 1) ),color-stop(0.4252,rgba(0, 107, 147, 1) ),color-stop(0.5358,rgba(0, 153, 210, 1) ),color-stop(0.5832,rgba(0, 174, 239, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
    background : -o-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 5, 6, 1) 5.54%, rgba(0, 18, 24, 1) 13.21%, rgba(0, 39, 53, 1) 22.1%, rgba(0, 69, 94, 1) 31.93%, rgba(0, 107, 147, 1) 42.52%, rgba(0, 153, 210, 1) 53.58%, rgba(0, 174, 239, 1) 58.32%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000' , GradientType=1);
}

.result-header-title {
    font-size: 13px;
    color: white;
    font-family: 'Noto Sans Japanese', sans-serif;
    line-height: 14px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 32.3px;
    letter-spacing: 2.8pt;
}

.result-header-title2 {
    width: 187.5px;
    height: 14.9px;
    margin-left: 237.58px;
    margin-top: 17.82px;
}

.result-header-close-button {
    width: 15px;
    height: 15px;
    margin-left: 370.798px;
    margin-top: auto;
    margin-bottom: auto;
}

.content-input-wrapper {
    width: 934.532px;
    height: 150.75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21.523px;
}

.content-input-header-wrapper {
    position: relative;
    width: 149.93px;
    height: 32.23px;
    display: inline-block;
}

.content-input-header-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-input-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 0.9pt;
    font-family: 'Noto Sans Japanese', sans-serif;
    color: #ffffff;
    width: 93.7px;
    text-align: center;
}

.add-content-button-wrapper {
    position: relative;
    width: 109.12px;
    height: 21.6px;
    display: inline-block;
    margin-left: 543.845px;
    position: relative;
}

.add-content-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.add-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #ffffff;
    font-family: 'Noto Sans Japanese',sans-serif;
    letter-spacing: 1pt;
    width:75px;
}

.delete-content-button-wrapper {
    position: relative;
    width: 109.12px;
    height: 21.6px;
    display: inline-block;
    position: relative;
}

.delete-content-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

.delete-content {
    position: absolute;
    font-size: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Noto Sans Japanese',sans-serif;
    letter-spacing: 1pt;
    width: 75px;
}

.content-input {
    width: 100%;
    height: 114.8px;
}

.content-idea-title-wrapper {
    width: 100%;
    height: 37.5px;
    background: #00B7D6;
    display: flex;
    display: -ms-flexbox; /* IE10 */
    font-family: 'Noto Sans Japanese',sans-serif;
}

.idea-1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 18.76px;
    font-size: 14px;
    letter-spacing: 2.8pt;
    color: #ffffff;

}

.content-idea-title {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ffffff;
    width: 511px;
    height: 24px;
    margin-left: 28.8px;
    font-size: 14px;
    letter-spacing: 2.8pt;
    line-height: 14px;
}

.content-idea-title-main {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


.content-idea-main-wrapper {
    width: 100%;
    height: 77.3px;
    background: #ffffff;
}

.content-idea-main {
    font-size: 11px;
    font-family: 'Noto Sans Japanese',sans-serif;
    font-weight: lighter;
    width: 858.4px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    letter-spacing: 2.2pt;
}

.forecast-result-wrapper {
    width: 934.532px;
    height: 440.342px;
    margin-top: 15.67px;
}

.forecast-result-title-wrapper {
    width: 497.164px;
    height: 38.38px;
    display:flex;
}

.forecast-result-title {
    position: relative;
    width: 191.881px;
    height: 32.237px;
    margin-top: 6.1px;
}

.forecast-result-title-background {
    position: absolute;
    width: 191.881px;
    height: 32.237px;
}

.forecast-result-title-main {
    position: absolute;
    font-family: 'Noto Sans Japanese',sans-serif;
    color: #ffffff;
    width: 135px;
    font-size : 12px;
    line-height : 13px;
    letter-spacing : 2.6pt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.to-forecast-wrapper {
    width: 59.8px;
    height: 29px;
    margin-left: 245.49px;
}

.forecast1-wrapper {
    width: 100%;
    display: flex;
    height: 129.5px;
    margin-top: 4.4px;
    margin-bottom: 4.4px;
    background-color: #ffffff;
}

.forecast1-title-wrapper {
    width: 81.33px;
    position: relative;
    height:100%;
    background-color: #00B7D6;
    color: #ffffff;
    font-size : 13px;
    line-height : 19px;
    letter-spacing : 2.6pt;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast1-title {
    width: 50px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.forecast1-rank-wrapper {
    width: 164px;
    height: 100px;
    display: flex;
    background-color: #00B7D6;
    margin-left: 15.67px;
    margin-bottom: auto;
    margin-top: auto;
}

.forecast1-rank-title {
    font-size : 12px;
    line-height : 18.98px;
    letter-spacing : 2.4pt;
    color: #ffffff;
    font-family: 'Noto Sans Japanese',sans-serif;
    margin-left: 23.71px;
    margin-bottom: auto;
    margin-top: auto;
}

.forecast1-rank {
    font-family : Tw Cen MT;
    color: #ffffff;
    font-size : 70px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5px;
}


.forecast1-unified-result-wrapper {
    width: 633.7px;
    height: 93.1px;
    margin-top: 19px;
    margin-left: 16.86px;
}


.forecast1-unified-result-title {
    font-size : 14px;
    line-height : 10px;
    letter-spacing : 2.8pt;
    color : #231F20;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;

}


.forecast1-unified-result-fact-wrapper {
    display: flex;
    margin-top: 12.05px;
}


    /* ---------  CM好感度　----------　*/

.forecast1-unified-result-fact1-title-wrapper {
    width: 175.574px;
    height: 21px;
    background-color: #D8D9DA;
}

.forecast1-unified-result-fact1-title {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size : 9px;
    line-height: 9px;
    letter-spacing : 1.8pt;
    color : #231F20;
    font-family:'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-unified-result-fact1-main-wrapper {
    display: flex;
    font-family:'Noto Sans Japanese',sans-serif;
    height: 21px;
    margin-top: 20.82px;
    -webkit-justify-content: center;
    justify-content: center;
}

.forecast1-unified-result-fact1-main1 {
    font-size : 9px;
    line-height: 9px;
    letter-spacing : 1.8pt;
    margin-top: auto;
    margin-bottom: auto;
}

.forecast1-unified-result-fact1-main2 {
    font-size : 21px;
    letter-spacing : 4.2px;
    line-height: 21px;
    margin-left: 8.46px;
}

　　/* ---------  CM好感要因　----------　*/

.forecast1-unified-result-fact2-title-wrapper {
    width: 218.989px;
    height: 21px;
    background-color: #D8D9DA;
}

.forecast1-unified-result-fact2-title {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size : 9px;
    line-height: 9px;
    letter-spacing : 1.8pt;
    color : #231F20;
    font-family:'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-unified-result-fact2 {
    font-size : 9px;
    line-height: 9px;
    letter-spacing : 1.8pt;
    margin-top: auto;
    margin-bottom: auto;
    font-family:'Noto Sans Japanese',sans-serif;
}



   /* ----------　性年代別好感度 ------------- */


.forecast1-unified-result-fact3-title-wrapper {
    width: 218.989px;
    height: 21px;
    background-color: #D8D9DA;
}

.forecast1-unified-result-fact3-title {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size : 9px;
    line-height: 9px;
    letter-spacing : 1.8pt;
    color : #231F20;
    font-family:'Noto Sans Japanese',sans-serif;
    text-align: center;
}

.forecast1-unified-result-fact3 {
    font-size : 9px;
    line-height : 15.41px;
    letter-spacing : 1.8pt;
    margin-top: 14.92px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Noto Sans Japanese',sans-serif;
}





.forecast2-wrapper {
    width: 100%;
    height: 129.5px;
    margin-bottom: 4.4px;
    background-color: #ffffff;
}

.forecast2-title-wrapper {
    width: 81.33px;
    height:100%;
    position: relative;
    background-color: #00B7D6;
    color: #ffffff;
    font-size : 13px;
    line-height : 19px;
    letter-spacing : 2.6pt;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast2-title {
    width: 35px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}



.forecast3-wrapper {
    width: 100%;
    height: 129.5px;
    background-color: #ffffff;
}

.forecast3-title-wrapper {
    width: 81.33px;
    height:100%;
    background-color: #00B7D6;
    position: relative;
    color: #ffffff;
    font-size : 13px;
    line-height : 19px;
    letter-spacing : 2.6pt;
    text-align: center;
    font-family: 'Noto Sans Japanese',sans-serif;
}

.forecast3-title {
    width: 50px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}





















